<!--
VisuHire CTO Report
Scott Hasbrouck (C) 2014
License: CC BY 4.0
http://creativecommons.org/licenses/by/4.0/
-->

<!DOCTYPE html>
<html>
  <head>
	  <title>Kickass, Inc. Tech Pulse</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
	  <!-- Chart.js graphing -->
	  <script src="js/chart.js"></script>
	  <!-- Bootstrap -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	  <!-- TechPulse Styles -->
	  <link rel="stylesheet" href="css/TechPulse.css">
	  <!-- font glyphs -->
	  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <!--STYLES END-->
  </head>

  <body>

	  <div class="container theme-showcase" role="main">

		  <!-- header -->
		  <div class="jumbotron">
			  <img src="images/Rad_Logo.png" />
			  <h2>Kickass, Inc. Tech Pulse</h2>
			  <h4>Mar 29th, 2015 Weekly CTO Report</h4>
			  <h5>Cached Mar 31st, 2015</h5>
		  </div>

      <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <!--TEMPLATES END-->

	  </div>

    <!--SCRIPTS-->

	  <!-- jQuery -->
	  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  <!-- Bootstrap -->
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	  <!-- Retina.js -->
	  <script type="text/javascript" src="js/retina.js"></script>
	  <!-- TechPulse JS -->
	  <script src="js/TechPulse.js"></script>

    <!--SCRIPTS END-->
  </body>
</html>
